.example {
  border: 1px solid grey;
  padding: 1em;
  width: 80%;
  margin-bottom: 1em;
}

.foo {
  position: relative;
}
.foo:after {
  position: absolute;
  content: "500px";
}
@media screen {
  .foo {
    font-size: 1px;
  }
}
